aiofiles==0.8.0
blinker==1.4
certifi==2021.10.8
click==8.0.3
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pony==0.7.16
priority==2.0.0
quart==0.16.3
Quart-CORS==0.5.0
quart-rate-limiter==0.6.0
schedule==1.1.0
toml==0.10.2
typing_extensions==4.0.1
Werkzeug==2.0.2
wsproto==1.0.0
zipp==3.7.0
